@media (max-width: 700px) {

    .navbar {
        padding: 0 10px;
    }

    .navbar input {
        width: 130px;
    }

    .navbar nav {
        gap: 10px;
        font-size: 18px;
    }

    .container {
        width: 95%;
    }

    .profile-container {
        width: 95%;
    }

    .profile-header {
        gap: 20px;
    }

    .profile-picture {
        width: 90px;
        height: 90px;
        font-size: 40px;
    }

    .post-grid div {
        min-height: 100px;
    }

    .reel-content {
        height: 400px;
    }
}
